* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 1000px) {

    /*Header*/

    header {
        margin: auto;
        background-color: #222629;
        height: 150px;
        width: 100%;
        font-family: Offside, sans-serif;
    }

    .logo img {
        height: 150px;
        margin-left: 30px;
        position: absolute;
    }

    nav {
        margin: 48px 0 0 41%;
        width: 50%;
        float: right;
        padding: 15px 5% 0 0;
        color: white;
        position: absolute;
    }
    nav a {
        text-decoration: none;
        font-size: 12px;
        padding: 10px 20px;
        margin: 0.5% 1%;
        color: white;
        border: 1px solid white;
        transition-duration: 0.5s;
        text-transform: uppercase;
    }
    
    nav a:hover {
        opacity: 0.7;
    }

    header i {
        color: white;
        float: right;
        margin-top: 60px;
        margin-left: 1%;
        position: relative;
        padding: 10px 20px;
        color: white;
        transition-duration: 0.5s;
    }

    header i:hover {
        opacity: 0.7;
    }

    .ikonky {
        margin-right: 3%;
    }

    #menu {
        display: none;
    }

    /*Main*/

    main img {
        width: 100%;
    }

    .neplecha {
        display: none;
    }

    /*Footer*/

    footer {
        background-color: #222629;
        width: 100%;
        height: 0px;
    }

    footer a img {
        padding: 0.5% 0.5% 0.5% 0.5%;
        margin-left: 1%;
        margin-top: 3%;
        height: 25px;
        border-radius: 10%;
    }

    footer a {
        text-decoration: none;
    }

    footer a img:hover{
        background-color: grey;
        transition-duration: 0.5s;
    }
    
    #siete {
        margin-left: 2%;
    }

    .copyright {
        float: right;
        margin-right: 2%;
        margin-top: 1%;
        color: white;
        font-family: Offside, sans-serif;
    }

    /*Kosik pc*/

    main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 7em);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 0;
    }

    .productInBasket{
        border-bottom: 0.5px solid grey;
    }

    .nazov{
        float: left;
        margin-left: 0.5em;
        position: relative;
        top: 40%;
    }

    .cena {
        float: right;
        margin-right: 0.5em;
        position: relative;
        top: 40%;
    }

    .productInBasket img{
        height: 6em;
        width: 6em;
        margin-top: 0.5em;
        margin-left: 0.5em;
        float: left;
        border-radius: 5%;
    }

    footer {
        margin-top: 1500px;
        position: absolute;
        bottom: 0;
    }

    .nekalosti {
        display: none;
    }

    .neplecha {
        display: none;
    }

    /*product*/

    .stranka_produktu {
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 100%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .stranka_produktu img {
        width: 80%;
        margin-left: 4.5em;
        margin-top: 4.5em;
        padding-right: 5em;
        float: left;
    }

    .stranka_produktu figure {
    }

    .stranka_produktu article {
        margin-top: 4.5em;
        margin-left: 2em;

    }

    .stranka_produktu h3 {
        margin-bottom: 0.5em;
    }

    .stranka_produktu h4 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }


    .productinfo  {
        margin-right: 5em;
        margin-top: 1em;
    }

    .stranka_produktu a {
        font-size: 1.5em;
        display: block;

    }

    .buybutton {
        margin-top: 1em;
        margin-bottom: 2em;
        width: 13.7em;
        background-color: #61892F;
        color: white;
        padding: 1em 3em 1em 3em;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      


    .dropbtn {
        background-color: #61892F;
        color: white;
        padding: 1em 3em 1em 3em;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 13.7em;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }

}

@media only screen and (max-width: 400px) {
        header {
            margin: auto;
            background-color: #222629;
            height: 100px;
            width: 100%;
            font-family: Offside, sans-serif;
            position: sticky;
            top: 0;
        }
        
        .logo img {
            height: 100px;
            margin-left: 35%;
            position: absolute;
        }
        
        nav {
            display: none;
        }
        nav a {
            display: none;
        }
         
        nav a:hover {
            opacity: 0.7;
        }
        
        header i {
            color: white;
            float: right;
            margin-top: 9%;
            margin-left: 8%;
            position: relative;
        }
        

        .ikonky {
            margin-right: 5%;
        }

        #menu {
            float: left;
            margin-top: 8.5%;
            margin-left: 8%;
            position: absolute;
        }

        #menu {
            display: inline;
        }
        
        /*Main*/



        main img {
            width: 100%;
            height: 1500px;
        }

        /*Footer*/
        
        footer {
            background-color: #222629;
            margin: auto;
            width: 100%;
            height: 100px;
        }
        
        footer a img {
            padding: 0.5% 0.5% 0.5% 0.5%;
            margin-left: 10%;
            margin-top: 5%;
            height: 25px;
            border-radius: 10%;
        }
        
        footer a {
            text-decoration: none;
        }
        
        footer a img:hover{
            background-color: grey;
            transition-duration: 0.5s;
        }
        .neplecha {
            display: none;
        }

        #siete {
            margin-left: 22%;
        }
        
        .copyright {
            font-size: 14px;
            margin-top: 6%;
            margin-left: 16%;
            color: white;
            font-family: Offside, sans-serif;
        }

        /*Kosik telefonis*/

        main {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(2, 5em);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            padding: 0;
        }

        .productInBasket{
            border-bottom: 0.5px solid grey;
        }

        .nazov{
            float: right;
            margin-right: 0.5em;
            margin-top: 0.5em;
        }

        .cena {
            float: right;
            margin-right: 0.5em;
            margin-top: 1em;
        }

        .productInBasket img{
            height: 4em;
            width: 4em;
            margin-top: 0.5em;
            margin-left: 0.5em;
            float: left;
            border-radius: 5%;
        }

        footer {
            margin-top: 150px;
            position: absolute;
            bottom: 0;
        }

        /*product*/

    .stranka_produktu img {
        width: 90%;
        height: 90%;
        margin-left: 1em;
        margin-top: 2em;
        margin-bottom: 0.5em;
        float: left;
    }

    .stranka_produktu article {
        margin-top: 4.5em;
        margin-left: 1em;

    }

    .stranka_produktu h3 {
        margin-bottom: 0.5em;
    }

    .stranka_produktu h4 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }


    .productinfo  {
        margin-right: em;
        margin-top: 1em;
        text-align: justify;
    }

    .stranka_produktu a {
        font-size: 1.5em;
        display: block;

    }

    .buybutton {
        margin-top: 1em;
        margin-bottom: 2em;
        width: 13.7em;
        background-color: #61892F;
        color: white;
        padding: 1em 3em 1em 3em;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      


    .dropbtn {
        background-color: #61892F;
        color: white;
        padding: 1em 3em 1em 3em;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 13.7em;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }
        
  }

@media only screen and (min-width: 400px) and (max-width: 1000px) {

    /*Header*/

    header {
        margin: auto;
        background-color: #222629;
        height: 120px;
        width: 100%;
        font-family: Offside, sans-serif;
    }

    .logo img {
        height: 120px;
        margin-left: 30px;
        position: absolute;
    }

    nav {
        margin: 48px 0 0 41%;
        width: 50%;
        float: right;
        padding: 15px 5% 0 0;
        color: white;
        position: absolute;
    }
    nav a {
        text-decoration: none;
        font-size: 12px;
        padding: 10px 20px;
        margin: 0.5% 1%;
        color: white;
        border: 1px solid white;
        transition-duration: 0.5s;
        text-transform: uppercase;
    }
    
    nav a:hover {
        opacity: 0.7;
    }

    header i {
        color: white;
        float: right;
        margin-top: 60px;
        margin-left: 1%;
        position: relative;
        padding: 10px 20px;
        color: white;
        transition-duration: 0.5s;
    }

    header i:hover {
        opacity: 0.7;
    }

    .ikonky {
        margin-right: 3%;
    }

    #menu {
        display: none;
    }

    /*Main*/

    main img {
        width: 100%;
    }

    /*Footer*/

    footer {
        background-color: #222629;
        margin: auto;
        width: 100%;
        height: 150px;
    }

    footer a img {
        padding: 0.5% 0.5% 0.5% 0.5%;
        margin-left: 1%;
        margin-top: 3%;
        height: 25px;
        border-radius: 10%;
    }

    .neplecha {
        display: none;
    }

    footer a {
        text-decoration: none;
    }

    footer a img:hover{
        background-color: grey;
        transition-duration: 0.5s;
    }
    
    #siete {
        margin-left: 2%;
    }

    .copyright {
        float: right;
        margin-right: 2%;
        margin-top: 1%;
        color: white;
        font-family: Offside, sans-serif;
    }

    /*Kosik tableterino*/

    main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 5.5em);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 0;
    }

    .productInBasket{
        border-bottom: 0.5px solid grey;
    }

    .nazov{
        float: left;
        margin-left: 0.5em;
        position: relative;
        top: 40%;
    }

    .cena {
        float: right;
        margin-right: 0.5em;
        position: relative;
        top: 40%;
    }

    .productInBasket img{
        height: 4.5em;
        width: 4.5em;
        margin-top: 0.5em;
        margin-left: 0.5em;
        float: left;
        border-radius: 5%;
    }

    footer {
        margin-top: 150px;
        position: absolute;
        bottom: 0;
    }

    .nekalosti {
        display: none;
    }

    .neplecha {
        display: none;
    }

    /*product*/
    .stranka_produktu img {
        width: 92%;
        margin-left: 2em;
        margin-top: 2em;
        margin-bottom: 1em;
        float: left;
    }

    .stranka_produktu article {
        margin-top: 4.5em;
        margin-left: 1em;

    }

    .stranka_produktu h3 {
        margin-bottom: 0.5em;
    }

    .stranka_produktu h4 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }


    .productinfo  {
        margin-right: 1em;
        margin-top: 1em;
    }

    .stranka_produktu a {
        font-size: 1.5em;
        display: block;

    }

    .buybutton {
        margin-top: 1em;
        margin-bottom: 2em;
        width: 13.7em;
        background-color: #61892F;
        color: white;
        padding: 1em 3em 1em 3em;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      


    .dropbtn {
        background-color: #61892F;
        color: white;
        padding: 1em 3em 1em 3em;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 13.7em;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }

}

@media print {
    * {
        margin: 0;
        padding: 0;
        position: unset;
    }

    header {
        display: none;
    }

    footer {
        display: none;
    }

    main img {
        display: none;
    }

    .nekalosti{
        display: none;
    }

    .nazov {
        float: left;

    }

    .cena {
        float: right;
    }

}